extends layout

block head
  title OPT: livedraft/admin
  link(href='/stylesheets/base.css', rel='stylesheet')
  link(rel='stylesheet',href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
  link(href='/stylesheets/divimage.css', rel='stylesheet')
  script(src='/javascripts/functions.js')

  link(rel='stylesheet',href='////cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.5/css/bootstrap-select.min.css')
  script(src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.5/js/bootstrap-select.min.js')
  style.
    .nav-tabs>li { background-color: #ECF0F1 }

block footer
  script.
    var livedraft_url = '#{wsurl}';
    var id = '#{id}';
  script(src='/javascripts/livedraft.js')
  script(src='/javascripts/livedraft-admin.js')

block content
  - if (created == "true") {
  script.
    $('#myModal').modal('show');
  - }

  div.container
    style.
      .col { margin-top: 16px;}


    div.row
      div.col.col-sm-12
        h1 Ozmo's Production Tool - /livedraft Admin

    div.row
      div(name='url').col.col-md-8
        label(for='url',class='control-label') Draft URL (Observer)
        div(id='url-tooltip',data-toggle='tooltip',data-placement='bottom',title="You must 'Disconnect' before changing.").input-group
          input(data-group='text',type='text',id='url',placeholder='http://www.somedrafttool.com/en/drafttool/12345',class='form-control')
          span.input-group-btn
            button(data-group='draft-control-pills',id='btnDisconnect',data-action='disconnect',data-class='danger',type='button',style='display: none;').btn.btn-danger
              i.fa.fa-unlink
              | Disconnect
            button(data-group='draft-control-pills',id='btnConnect',data-action='connect',data-class='success',type='button').btn.btn-success
              i.fa.fa-link
              | Connect
      div(name='status').col.col-md-4
        label(for='status',class='control-label') Status
        div
          span(data-group='spans',type='text',id='status',class='form-control',disabled) Disconnected

    div.row
      div(name='background-image').col.col-md-6
        label(for='background-image',class='control-label') Background Image URL (1920x1080)
        div(data-group='onload-tooltips',id='background-image-tooltip',data-toggle='tooltip',data-placement='bottom',title="Enter the URL (.gif, .png, .jpg) for your 1920x1080 background image.").input-group
          input(data-group='text',type='text',id='wrapper:background-image',placeholder='http://i.imgur.com/OcFygJu.jpg',class='form-control')
          span.input-group-btn
            button(data-group='draft-background-pills',id='background-image',data-transform='url',data-action='image',data-default='http://i.imgur.com/OcFygJu.jpg',data-selection='radio').btn.btn-primary
              i.fa.fa-picture-o
              | Use Image
      div(name='background-color').col.col-md-3
        label(for='background-color',class='control-label') Background Color (#Hex)
        div(data-group='onload-tooltips',id='background-color-tooltip',data-toggle='tooltip',data-placement='bottom',title='Enter a hexadecimal color value prefixed with a # (e.g. #FF00FF)').input-group
          input(data-group='text',type='text',id='wrapper:background-color',placeholder='#FF00FF',class='form-control')
          span.input-group-btn
            button(data-group='draft-background-pills',id='background-color',data-transform='color',data-action='color',data-default='#FF00FF',data-selection='radio').btn.btn-primary
              i.fa.fa-paint-brush
              | Use Color
      div(name='theme').col.col-md-3
        label(for='theme',class='control-label') Theme
        div.input-group
          select(data-group='selects',type='option',id='wrapper:class',data-style='btn-info').selectpicker
            option(data-content="<i class='fa fa-star'></i> default",value='default') default
            option(value='clean') clean

    div.row
      div.col.col-lg-12
        label(for='livedraft',class='control-label') Your Livedraft URL
        div.input-group
          span(data-group='text',type='text',id='livedraft',class='form-control',disabled)
          span.input-group-btn
            a(data-group='draft-command-pills',href='/livedraft/#{id}',target='new').btn.btn-success
              i.fa.fa-external-link
              | Open Livedraft

    hr

    div.row
      div.col.col-sm-12.text-center
        div.btn-toolbar
          a(data-group='draft-command-pills',id='btnPause',data-action='pause').btn.btn-lg.btn-warning
            i.fa.fa-pause
            | Pause Videos
          a(data-group='draft-command-pills',id='btnPlay',data-action='play',style='display: none;').btn.btn-lg.btn-success
            i.fa.fa-play
            | Play Videos
          a(data-group='draft-reset-pills',id='btnReload',data-action='reset').btn.btn-lg.btn-primary
            i.fa.fa-refresh
            | Reload

    div.row
      div.col.col-sm-3
        div
          label(for='team1-name',class='control-label') Team 1 Name
          div
            input(data-group='text',type='text',id='team1-name',name='team1-name',placeholder='Rancho Carne Toros',class='form-control')
      div.col.col-sm-2
        div
          label(for='team1-timer',class='control-label') Team 1 Pool
          div
            span(data-group='spans',type='text',id='blue-pool',placeholder='0',class='form-control',disabled,value=0)
      div.col.col-sm-2
        div
          label(for='timer',class='control-label') Timer
          div
            span(data-group='spans',type='text',id='time-pool',placeholder='0',class='form-control',disabled,value=0)
      div.col.col-sm-2
        div
          label(for='team2-timer',class='control-label') Team 2 Pool
          div
            span(data-group='spans',type='text',id='red-pool',placeholder='0',class='form-control',disabled,value=0)
      div.col.col-sm-3
        div
          label(for='team2-name',class='control-label') Team 2 Name
          div
            input(data-group='text',type='text',id='team2-name',name='team2-name',placeholder='East Compton Clovers',class='form-control')

    div.row
      div.col.col-lg-12
        div.row
          div.col.col-sm-2
              div(data-group='pictures',id='blue-b1-icon').center.divimage.divimagelg
          div.col.col-sm-2
              div(data-group='pictures',id='blue-b2-icon').center.divimage.divimagelg
          div.col.col-sm-4
            div(data-group='pictures',id='map-icon').center.divimage.map-small
          div.col.col-sm-2
              div(data-group='pictures',id='red-b2-icon').center.divimage.divimagelg
          div.col.col-sm-2
              div(data-group='pictures',id='red-b1-icon').center.divimage.divimagelg

        - for (var x = 1; x < 6; ++x) {
          div.row
            div.col.col-sm-2
              div(data-group='pictures',id='blue-p'+x+'-icon').center.divimage.divimagelg
            div(data-group='selections',id='blue-p'+x).col.col-sm-4
              label(for='blue-p'+x+'-hero',class='control-label') blue-p#{x}
              div
                span(data-group='spans',role='trigger',data-trigger='picture',id='blue-p'+x+'-hero',class='form-control',disabled)
            div(data-group='selections',id='red-p'+x).col.col-sm-4
              label(for='red-p'+x+'-hero',class='control-label') red-p#{x}
              div
                span(data-group='spans',role='trigger',data-trigger='picture',id='red-p'+x+'-hero',class='form-control',disabled)
            div.col.col-sm-2
              div(data-group='pictures',id='red-p'+x+'-icon').center.divimage.divimagelg
        - }


    div.row
      div.col.col-lg-12
        div
          label(for='announcement',class='control-label') Announcement
          div
            input(data-group='text',type='text',id='announcement',name='announcement',placeholder='Coming Up: The finals!',class='form-control')

