extends layout

block head
    script(src='/javascripts/functions.js')

block footer
  script.
    var opt_id = '#{id}';
  script(src="/javascripts/messageboard.js")
  script(src="/javascripts/messageboard-admin.js")

block content
  div.container
    style.
      .row { margin-top: 24px;}

    div.row
      div.col.col-sm-12
        h1 Ozmo's Production Tool - /messageboard Admin

    div.row
      div.col-md-4
        +hero-select('hero-video','Hero Video')
      div.col-lg-4
        div.control-group
          label(for='title',class='control-label') Title
          div.controls
            input(data-group="text",type='text',id='title',name='title',placeholder="Title of the Stream",class='form-control')
      div.col-md-4
        div.control-group
          label(for='rank',class='control-label') Rank
          div.controls
            input(data-group='value',type='text',id='rank',name='rank',placeholder="25",class='form-control')

    div.row
      div.col-md-6
        div.control-group
          label(for='subtitle1',class='control-label') SubTitle Top Line
          div.controls
            input(data-group="text",type='text',id='subtitle1',name='subtitle1',placeholder='Solo Queue',class='form-control')
      div.col-md-6
        div.control-group
          label(for='subtitle2',class='control-label') SubTitle Bottom Line
          div.controls.input-group
            span.input-group-btn
              button(data-group='checkbox-pills',data-action='class',data-element='subtitle2-icons',data-unvalue='fa-transparent',data-value='fa-twitter',type='button').btn.btn-checkbox
                i.fa.fa-twitter
            input(data-group="text",type='text',id='subtitle2',name='subtitle2',placeholder='Quick Match',class='form-control')

    div.row
      div.col-lg-12
        a(href="#",class="btn btn-primary",id="reloadButton")
          i.fa.fa-refresh
          | Reload
    hr

    div.row
      div.col-lg-12
        div(role='tabpanel')
          ul(role='tablist').nav.nav-tabs
            li(role='presentation').active
              a(href='#tab-map',aria-expanded='true',role='tab',data-toggle='tab')
                span(id='label-map').label.label-primary Map
            li(role='presentation')
              a(href='#tab-player',aria-expanded='false',role='tab',data-toggle='tab')
                span(id='label-player').label.label-primary Player
            li(role='presentation')
              a(href='#tab-voice',aria-expanded='false',role='tab',data-toggle='tab')
                span(id='label-voice').label.label-primary Voice
            li(role='presentation')
              a(href='#tab-marquee',aria-expanded='false',role='tab',data-toggle='tab')
                span(id='label-marquee').label.label-primary Marquee
            li(role='presentation')
              a(href='#tab-messages',aria-expanded='false',role='tab',data-toggle='tab')
                span(id='label-messages').label.label-primary Messages
          div.tab-content
            div(role='tabpanel',id='tab-map').tab-pane.active.has-primary
              div.row
                div.col-lg-12
                  div.btn-toolbar
                    div.btn-group
                      button(data-group="checkbox-pills",data-action='ignore',data-element="map_container",data-unvalue='true',data-value='false',data-active-text='Map Tab is VISIBLE',data-inactive-text='Map Tab is HIDDEN',data-partner='label-map',data-partner-active='label-success',data-partner-inactive='label-danger').btn.btn-checkbox
              div.row
                div.col-md-3
                  div(id="overall-win")
                    div.control-group
                      label(for='overall-win-text',class='control-label') total-wins
                      div.controls
                        input(data-group='value',type='text',id='overall-win-text',placeholder="52",class='form-control')
              div.row
                div.col-md-3
                  div(id="blackhearts-bay")
                    div.control-group
                      label(for='blackhearts-bay-percent',class='control-label') blackhearts-bay
                      div.controls
                        input(data-group='value',type='text',id='blackhearts-bay-percent',placeholder="52",class='form-control')
                div.col-md-3
                  div(id="cursed-hollow")
                    div.control-group
                      label(for='cursed-hollow-percent',class='control-label') cursed-hollow
                      div.controls
                        input(data-group='value',type='text',id='cursed-hollow-percent',placeholder="54",class='form-control')
                div.col-md-3
                  div(id="dragon-shire")
                    div.control-group
                      label(for='dragon-shire-percent',class='control-label') dragon-shire
                      div.controls
                        input(data-group='value',type='text',id='dragon-shire-percent',placeholder="53",class='form-control')
                div.col-md-3
                  div(id="haunted-mines")
                    div.control-group
                      label(for='haunted-mines-percent',class='control-label') haunted-mines
                      div.controls
                        input(data-group='value',type='text',id='haunted-mines-percent',placeholder="52",class='form-control')
                div.col-md-3
                  div(id="garden-of-terror")
                    div.control-group
                      label(for='garden-of-terror-percent',class='control-label') garden-of-terror
                      div.controls
                        input(data-group='value',type='text',id='garden-of-terror-percent',placeholder="46",class='form-control')
                div.col-md-3
                  div(id="sky-temple")
                    div.control-group
                      label(for='sky-temple-percent',class='control-label') sky-temple
                      div.controls
                        input(data-group='value',type='text',id='sky-temple-percent',placeholder="50",class='form-control')
                div.col-md-3
                  div(id="tomb-of-the-spider-queen")
                    div.control-group
                      label(for='tomb-of-the-spider-queen-percent',class='control-label') tomb-of-the-spider-queen
                      div.controls
                        input(data-group='value',type='text',id='tomb-of-the-spider-queen-percent',placeholder="46",class='form-control')
                div.col-md-3
                  div(id="battlefield-of-eternity")
                    div.control-group
                      label(for='battlefield-of-eternity-percent',class='control-label') battlefield-of-eternity
                      div.controls
                        input(data-group='value',type='text',id='battlefield-of-eternity-percent',placeholder="50",class='form-control')
            div(role='tabpanel',id='tab-player').tab-pane
              div.row
                div.col-lg-12
                  div.btn-toolbar
                    div.btn-group
                      button(data-group="checkbox-pills",data-action='ignore',data-element="player_container",data-unvalue='true',data-value='false',data-active-text='Player Tab is VISIBLE',data-inactive-text='Player Tab is HIDDEN',data-partner='label-player',data-partner-active='label-success',data-partner-inactive='label-danger').btn.btn-checkbox
              div.row
                div.col-md-3
                  div(id="warrior")
                    div.control-group
                      label(for='warrior-value',class='control-label') warrior
                      div.controls
                        input(data-group='value',type='text',id='warrior-value',placeholder="123",class='form-control')
                div.col-md-3
                  div(id="assassin")
                    div.control-group
                      label(for='assassin-value',class='control-label') assassin
                      div.controls
                        input(data-group='value',type='text',id='assassin-value',placeholder="234",class='form-control')
                div.col-md-3
                  div(id="support")
                    div.control-group
                      label(for='support-value',class='control-label') support
                      div.controls
                        input(data-group='value',type='text',id='support-value',placeholder="345",class='form-control')
                div.col-md-3
                  div(id="specialist")
                    div.control-group
                      label(for='specialist-value',class='control-label') specialist
                      div.controls
                        input(data-group='value',type='text',id='specialist-value',placeholder="456",class='form-control')
              div.row
                div.col-md-4
                  div(id="hero1")
                    +hero-select('hero1-text','Hero 1')
                    div.col-lg-8
                      div.control-group
                        label(for='hero1-progress',class='control-label') hero1-progress
                        div.controls
                          input(data-group='value',type='text',id='hero1-progress',placeholder="2345/4750",class='form-control')
                    div.col-lg-4
                      div.control-group
                        label(for='hero1-level',class='control-label') hero1-level
                        div.controls
                          input(data-group='value',type='text',id='hero1-level',placeholder="10",class='form-control')
                div.col-md-4
                  div(id="hero2")
                    +hero-select('hero2-text','Hero 2')
                    div.col-lg-8
                      div.control-group
                        label(for='hero2-progress',class='control-label') hero2-progress
                        div.controls
                          input(data-group='value',type='text',id='hero2-progress',placeholder="2345/4750",class='form-control')
                    div.col-lg-4
                      div.control-group
                        label(for='hero2-level',class='control-label') hero2-level
                        div.controls
                          input(data-group='value',type='text',id='hero2-level',placeholder="10",class='form-control')
                div.col-md-4
                  div(id="hero3")
                    +hero-select('hero3-text','Hero 3')
                    div.col-lg-8
                      div.control-group
                        label(for='hero3-progress',class='control-label') hero3-progress
                        div.controls
                          input(data-group='value',type='text',id='hero3-progress',placeholder="2345/4750",class='form-control')
                    div.col-lg-4
                      div.control-group
                        label(for='hero3-level',class='control-label') hero3-level
                        div.controls
                          input(data-group='value',type='text',id='hero3-level',placeholder="10",class='form-control')
            div(role='tabpanel',id='tab-marquee').tab-pane
              div.row
                div.col-lg-12
                  div.control-group
                    label(for='marquee-text',class='control-label') Marquee
                    div.controls
                      textarea(data-group='text',type='text',id='marquee-text',name='marquee-text',placeholder=':: <strong>Heroes of the Dorm</strong> :: Boston College defeated Western Ontario in a 2-0 victory.  ||  Arizona State beat Texas A&M in a 2-0 victory.',class='form-control')
              div.row
                div.col-lg-12
                  div(data-toggle="buttons").btn-group
                    label(data-group="radio-pills",autocomplete="off",data-action='class',data-element='mainview_footer_marquee',data-value='marquee-black',data-partner='label-marquee',data-partner-active='label-success',data-partner-inactive='label').btn.btn-radio Default Marquee
                      input(type="radio",name="marquee-style")
                    label(data-group="radio-pills",autocomplete="off",data-action='class',data-element='mainview_footer_marquee',data-value='marquee-blue',data-partner='label-marquee',data-partner-active='label-success',data-partner-inactive='label').btn.btn-radio Priority Marquee
                      input(type="radio",name="marquee-style")
                    label(data-group="radio-pills",autocomplete="off",data-action='class',data-element='mainview_footer_marquee',data-value='marquee-red',data-partner='label-marquee',data-partner-active='label-success',data-partner-inactive='label').btn.btn-radio Urgent Marquee
                      input(type="radio",name="marquee-style")
                    label(data-group="radio-pills",autocomplete="off",data-action='class',data-element='mainview_footer_marquee',data-value='marquee-hide',data-partner='label-marquee',data-partner-active='label-default',data-partner-inactive='label').btn.btn-radio Disable Marquee
                      input(type="radio",name="marquee-style")
            div(role='tabpanel',id='tab-messages').tab-pane
              - for (var i = 1; i <= 10; ++i) {
                fieldset.pad-small
                  div.col-sm-2
                    label(class='control-label') Message #{i}
                    div.btn-toolbar
                      button(data-group="checkbox-pills",data-action='ignore',data-element="msg#{i}",data-unvalue='true',data-value='false',data-active-text='ENABLED',data-inactive-text='DISABLED').btn.btn-checkbox
                  div.col-sm-8
                    div.control-group
                      label(for='msg#{i}-text',class='control-label') message
                      div.controls
                        textarea(data-group='text',type='text',id='msg#{i}-text',placeholder="",class='form-control')
                  div.col-sm-2
                    div.control-group
                      label(for='msg#{i}-tag',class='control-label') tag
                      div.controls
                        input(data-group='text',type='text',id='msg#{i}-tag',placeholder="",class='form-control')
              - }
            div(role='tabpanel',id='tab-voice').tab-pane
              div.row
                div.col-lg-12
                  div.btn-toolbar
                    div.btn-group
                      button(data-group="checkbox-pills",data-action='ignore',data-element="voice_container",data-unvalue='true',data-value='false',data-active-text='Voice Tab is VISIBLE',data-inactive-text='Voice Tab is HIDDEN',data-partner='label-voice',data-partner-active='label-success',data-partner-inactive='label-danger').btn.btn-checkbox
              div.row
                div.col-lg-12
                  - for (var i = 1; i < 4; ++i) {
                    div.col-sm-4
                      div(id='voice'+i)
                        +talent-select('voice'+i+'-picture','voice'+i+'-picture')
                        div.control-group
                          label(for='voice'+i+'-text',class='control-label') voice#{i}-text
                          div.controls
                            input(data-group='text',data-automate='voice',type='text',id='voice'+i+'-text',placeholder='Player '+i,class='form-control')
                  - }
              div.row
                div.col-lg-12
                  - for (var i = 4; i < 7; ++i) {
                    div.col-sm-4
                      div(id='voice'+i)
                        +talent-select('voice'+i+'-picture','voice'+i+'-picture')
                        div.control-group
                          label(for='voice'+i+'-text',class='control-label') voice#{i}-text
                          div.controls
                            input(data-group='text',data-automate='voice',type='text',id='voice'+i+'-text',placeholder='Player '+i,class='form-control')
                  - }

            div(role='tabpanel',id='tab-template').tab-pane
              div.col-lg-12
                div.col-md-2
                  div(id="template")
                    div.control-group
                      label(for='template-value',class='control-label') template
                      div.controls
                        input(data-group='value',type='text',id='template-value',placeholder='42',class='form-control')

    hr
