extends layout

block head
  meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
  link(rel="stylesheet", type="text/css", href="/stylesheets/messageboard.css")
  link(rel="stylesheet", type="text/css", href="/stylesheets/heroes.css")
  link(rel="stylesheet", type="text/css", href="/stylesheets/divimage.css")
  link(rel="stylesheet", href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css")
  script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js")
  script(src="/socket.io/socket.io.js")
  script(src='/javascripts/functions.js')
  style.
    body { cursor: none; }

block footer
  script.
    var opt_id = '#{id}';
  script(src="/javascripts/messageboard.js")
  script(src="/javascripts/messageboard-client.js")

block content
  div(id='wrapper')
    #sidebar
      #sidebar_header
        #sidebar_header_container
          video#hero-video.video.valla(autoplay="", loop="", muted="", src="/assets/hero-videos/valla.webm", type="video/webm")
          div.overlay
          div.overlay-hero.animated.fadeIn
            div(id='hero-video-text',data-animation='fadeIn').overlay-text
            div.overlay-triangle
      #sidebar_body
        #timer_percent
        #map_container(data-group="sidebar_body_containers",data-ignore='true').hidden
          div.heading.flex.flex-align-items-center.flex-justify-between
            div.li-text Win Percentage
            div.li-number.ratio-of-total.percent(id='overall-win-text',data-animation='bounceIn',data-reference="games-played") 99.99
          ul
            li.flex.flex-align-items-center.flex-justify-between
              div(id='blackhearts-bay-picture').divimage.divimagewide.divimage-blackhearts-bay
              div(id='blackhearts-bay-text').li-text Blackheart's Bay
              div(id='blackhearts-bay-percent',data-animation='bounceIn').li-number.percent.font-opensans
            li.flex.flex-align-items-center.flex-justify-between
              div(id='cursed-hollow-picture').divimage.divimagewide.divimage-cursed-hollow
              div(id='cursed-hollow-text').li-text Cursed Hollow
              div(id='cursed-hollow-percent',data-animation='bounceIn').li-number.percent.font-opensans
            li.flex.flex-align-items-center.flex-justify-between
              div(id='dragon-shire-picture').divimage.divimagewide.divimage-dragon-shire
              div(id='dragon-shire-text').li-text Dragon Shire
              div(id='dragon-shire-percent',data-animation='bounceIn').li-number.percent.font-opensans
            li.flex.flex-align-items-center.flex-justify-between
              div(id='haunted-mines-picture').divimage.divimagewide.divimage-haunted-mines
              div(id='haunted-mines-text').li-text Haunted Mines
              div(id='haunted-mines-percent',data-animation='bounceIn').li-number.percent.font-opensans
            li.flex.flex-align-items-center.flex-justify-between
              div(id='garden-of-terror-picture').divimage.divimagewide.divimage-garden-of-terror
              div(id='garden-of-terror-text').li-text Garden of Terror
              div(id='garden-of-terror-percent',data-animation='bounceIn').li-number.percent.font-opensans
            li.flex.flex-align-items-center.flex-justify-between
              div(id='sky-temple-picture').divimage.divimagewide.divimage-sky-temple
              div(id='sky-temple-text').li-text Sky Temple
              div(id='sky-temple-percent',data-animation='bounceIn').li-number.percent.font-opensans
            li.flex.flex-align-items-center.flex-justify-between
              div(id='tomb-of-the-spider-queen-picture').divimage.divimagewide.divimage-tomb-of-the-spider-queen
              div(id='tomb-of-the-spider-queen-text').li-text Tomb of the Spider Queen
              div(id='tomb-of-the-spider-queen-percent',data-animation='bounceIn').li-number.percent.font-opensans
            li.flex.flex-align-items-center.flex-justify-between
              div(id='battlefield-of-eternity-picture').divimage.divimagewide.divimage-battlefield-of-eternity
              div(id='battlefield-of-eternity-text').li-text Battlefield of Eternity
              div(id='battlefield-of-eternity-percent',data-animation='bounceIn').li-number.percent.font-opensans
        #player_container(data-group="sidebar_body_containers").hidden
          div.heading.flex.flex-align-items-center.flex-justify-between
            div.li-text Games Played
            div.li-number.ratio.color-info(id='overall-games-text',data-animation='bounceIn') 0
          ul
            li.flex.flex-align-items-center.flex-justify-between
              img(src="/assets/roles/warrior-mini.png")
              div(id='warrior-text').li-text Warrior
                div.li-text-progress.progress
                  div(id='warrior-progress').progress-bar.progress-bar-info
              div(id='warrior-value').li-number.ratio.color-info(data-group="games-played", data-reference="overall-games-text")
            li.flex.flex-align-items-center.flex-justify-between
              img(src="/assets/roles/assassin-mini.png")
              div(id='assassin-text').li-text Assassin
                div.li-text-progress.progress
                  div(id='assassin-progress').progress-bar.progress-bar-info
              div(id='assassin-value').li-number.ratio.color-info(data-group="games-played", data-reference="overall-games-text")
            li.flex.flex-align-items-center.flex-justify-between
              img(src="/assets/roles/support-mini.png")
              div(id='support-text').li-text Support
                div.li-text-progress.progress
                  div(id='support-progress').progress-bar.progress-bar-info
              div(id='support-value').li-number.ratio.color-info(data-group="games-played", data-reference="overall-games-text")
            li.flex.flex-align-items-center.flex-justify-between
              img(src="/assets/roles/specialist-mini.png")
              div(id='specialist-text').li-text Specialist
                div.li-text-progress.progress
                  div(id='specialist-progress').progress-bar.progress-bar-info
              div(id='specialist-value').li-number.ratio.color-info(data-group="games-played", data-reference="overall-games-text")
          div.heading Highest Level Heroes
          ul
            li.flex.flex-align-items-center.flex-justify-between
              div(id='hero1-picture',data-animation='fadeIn').divimage.divimage-transparent
              div.li-text
                div(id='hero1-text',data-animation='fadeIn').li-text-name.linked-picture
                div.li-text-progress.progress
                  div(id='hero1-progress').progress-bar.progress-bar-info
              div(id='hero1-level',data-animation='bounceIn').li-number.value.color-info
            li.flex.flex-align-items-center.flex-justify-between
              div(id='hero2-picture',data-animation='fadeIn').divimage.divimage-transparent
              div.li-text
                div(id='hero2-text',data-animation='fadeIn').li-text-name.linked-picture
                div.li-text-progress.progress
                  div(id='hero2-progress').progress-bar.progress-bar-info
              div(id='hero2-level',data-animation='bounceIn').li-number.value.color-info
            li.flex.flex-align-items-center.flex-justify-between
              div(id='hero3-picture',data-animation='fadeIn').divimage.divimage-transparent
              div.li-text
                div(id='hero3-text',data-animation='fadeIn').li-text-name.linked-picture
                div.li-text-progress.progress
                  div(id='hero3-progress').progress-bar.progress-bar-info
              div(id='hero3-level',data-animation='bounceIn').li-number.value.color-info
        #voice_container(data-group="sidebar_body_containers").hidden
          div.heading Voice Chat
          ul
            li.flex.flex-align-items-center.flex-justify-start
              div(id='voice1-picture',data-animation='bounceIn').divimage.divimage-transparent
              div(id='voice1-text',data-animation='bounceIn').li-text.text
            li.flex.flex-align-items-center.flex-justify-start
              div(id='voice2-picture',data-animation='bounceIn').divimage.divimage-transparent
              div(id='voice2-text',data-animation='bounceIn').li-text.text
            li.flex.flex-align-items-center.flex-justify-start
              div(id='voice3-picture',data-animation='bounceIn').divimage.divimage-transparent
              div(id='voice3-text',data-animation='bounceIn').li-text.text
            li.flex.flex-align-items-center.flex-justify-start
              div(id='voice4-picture',data-animation='bounceIn').divimage.divimage-transparent
              div(id='voice4-text',data-animation='bounceIn').li-text.text
            li.flex.flex-align-items-center.flex-justify-start
              div(id='voice5-picture',data-animation='bounceIn').divimage.divimage-transparent
              div(id='voice5-text',data-animation='bounceIn').li-text.text
            li.flex.flex-align-items-center.flex-justify-start
              div(id='voice6-picture',data-animation='bounceIn').divimage.divimage-transparent
              div(id='voice6-text',data-animation='bounceIn').li-text.text
      #sidebar_footer
        #sidebar_footer_container
          #sidebar_footer_description Hero League
          #sidebar_footer_text
            div(id='rank',data-animation='bounceIn').value
    #mainview
      #mainview_header.flex.flex-align-items-center.flex-justify-between
        #mainview_header_title
          div(id='title',data-animation='fadeIn').html &#160;
        #mainview_header_subtitle
          div
            span(id='subtitle1',data-animation='fadeIn').text &#160;
          div
            span(id='subtitle2-icons',data-animation='fadeIn').fa
            span(id='subtitle2',data-animation='fadeIn').text &#160;
        #mainview_header_icon(style='display: none;').icon
          img(src="")
      #mainview_body
        ul(id='messages')
          - for (var i = 1; i <= 10; ++i) {
            li(id='msg#{i}',data-ignore='true')
              span(id='msg#{i}-tag').tag.text
              span(id='msg#{i}-text').message.html
          - }
      #mainview_footer
        marquee#mainview_footer_marquee.marquee.marquee-black(scrollanimation="15")
          div(id='marquee-text').html
            | Heroes of the Storm opens to the public on June 2nd!  Get ready to battle in the Nexus.